*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: 'Kalam', cursive;*/
	/*font-family: 'Sigmar One', cursive*/
	/*text-align: center;*/
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}

body{
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#navbar{
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
[class*="col"]{
	border: 3px groove grey;/*transparent*/
	/*float: left;*/
}

.navbar{
	position: fixed;
	height: 100vh;
	background-color: #13293D;
}
.logo{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 2px groove grey;

}

.jumbotron{
	background-color: transparent;
	height: 100vh;
	width: 100%;
	text-align: center;
	/*font-family: 'Sigmar One', cursive;*/
	position: relative;
	padding-top: 10%;
	border: 3px solid violet;
}
.container{
	border: 2px solid red;
}

.down {
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	/*background-color: rgba(97,203,217, 1);*/
	padding: 10px 30px;
	border-radius: 10px;
	/*width: 40%;*/
	/*color: black;*/

	border: 3px groove grey;
}
.down > a{
	text-decoration: none;
	color: black;
	font-size: 30px;
}
.main{
	background-color: pink;
	width: 100%;
	border: 5px ridge blue;
	/*height: 100vh;*/
}

#about{
	height: 100vh;
	width: 100%;
	border: 2px solid green;
	background-color: grey;
}

.about > img{
	width: 200px;
	height: 200px;
}
#experience{
	height: 100vh;
	width: 100%;
	border: 2px solid green;
	background-color: skyblue;
}
#project{
	height: 100vh;
	width: 100%;
	border: 2px solid green;
	background-color: skyblue;
	margin-left: 0.1em;
}
#contact{
	height: 100vh;
	width: 100%;
	border: 2px solid green;
	background-color: skyblue;
}
#resume{
	height: 100vh;
	width: 100%;
	border: 2px solid green;
	background-color: skyblue;
}
.project-title{
	width: 100%;
	height: 50px;
}

.project-1{
	width: 100%;
	height: 400px;
	margin: 20px;
}

.project-1-img{
	width: 100%;
	height: 300px;

}

.project-1-img-link{
	/*width: 100%;*/
	/*height: 100px;*/
	/*text-decoration: none;*/
}